<a href="https://colab.research.google.com/github/Paritoshyadav/understanding-the-global-trends-in-investments-/blob/master/global_trends_in_investments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update
!apt-get upgrade

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [925 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,278 kB]
Fetched 2,458 kB in 2s (1,157 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages have been kept back:
  libcudnn7 libcudnn7-dev libnccl-dev libnccl2
The following packages will be upgraded:
  base-files dpkg dpkg-dev libdpkg-perl libldap-2.4-2 libldap-common
  libprocps6 libzstd1 linux-libc-dev procps
10 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.
Need to get 3,675 kB of archives.
After this operation, 64.5 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 base-files amd64 10.1ubuntu2.6 [60.1 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 dpkg amd64 1.19.0.5ubuntu2.2 [1,136 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzstd1 amd64 1.3.3+dfsg-2ubuntu1.1 [189 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libprocps6 amd64 2:3.3.12-3ubuntu1.2 [31.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 procps amd64 2:3.3.12-3ubuntu1.2 [225 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 dpkg-dev all 1.19.0.5ubuntu2.2 [607 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libdpkg-perl all 1.19.0.5ubuntu2.2 [211 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libldap-common all 2.4.45+dfsg-1ubuntu1.3 [16.9 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libldap-2.4-2 amd64 2.4.45+dfsg-1ubuntu1.3 [155 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 linux-libc-dev amd64 4.15.0-58.64 [1,043 kB]
Fetched 3,675 kB in 1s (3,627 kB/s)
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../base-files_10.1ubuntu2.6_amd64.deb ...
Unpacking base-files (10.1ubuntu2.6) over (10.1ubuntu2.5) ...
Setting up base-files (10.1ubuntu2.6) ...
Installing new version of config file /etc/issue ...
Installing new version of config file /etc/issue.net ...
Installing new version of config file /etc/lsb-release ...
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../dpkg_1.19.0.5ubuntu2.2_amd64.deb ...
Unpacking dpkg (1.19.0.5ubuntu2.2) over (1.19.0.5ubuntu2.1) ...
Setting up dpkg (1.19.0.5ubuntu2.2) ...
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../libzstd1_1.3.3+dfsg-2ubuntu1.1_amd64.deb ...
Unpacking libzstd1:amd64 (1.3.3+dfsg-2ubuntu1.1) over (1.3.3+dfsg-2ubuntu1) ...
Setting up libzstd1:amd64 (1.3.3+dfsg-2ubuntu1.1) ...
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../0-libprocps6_2%3a3.3.12-3ubuntu1.2_amd64.deb ...
Unpacking libprocps6:amd64 (2:3.3.12-3ubuntu1.2) over (2:3.3.12-3ubuntu1.1) ...
Preparing to unpack .../1-procps_2%3a3.3.12-3ubuntu1.2_amd64.deb ...
Unpacking procps (2:3.3.12-3ubuntu1.2) over (2:3.3.12-3ubuntu1.1) ...
Preparing to unpack .../2-dpkg-dev_1.19.0.5ubuntu2.2_all.deb ...
Unpacking dpkg-dev (1.19.0.5ubuntu2.2) over (1.19.0.5ubuntu2.1) ...
Preparing to unpack .../3-libdpkg-perl_1.19.0.5ubuntu2.2_all.deb ...
Unpacking libdpkg-perl (1.19.0.5ubuntu2.2) over (1.19.0.5ubuntu2.1) ...
Preparing to unpack .../4-libldap-common_2.4.45+dfsg-1ubuntu1.3_all.deb ...
Unpacking libldap-common (2.4.45+dfsg-1ubuntu1.3) over (2.4.45+dfsg-1ubuntu1.2) ...
Preparing to unpack .../5-libldap-2.4-2_2.4.45+dfsg-1ubuntu1.3_amd64.deb ...
Unpacking libldap-2.4-2:amd64 (2.4.45+dfsg-1ubuntu1.3) over (2.4.45+dfsg-1ubuntu1.2) ...
Preparing to unpack .../6-linux-libc-dev_4.15.0-58.64_amd64.deb ...
Unpacking linux-libc-dev:amd64 (4.15.0-58.64) over (4.15.0-55.60) ...
Setting up libldap-common (2.4.45+dfsg-1ubuntu1.3) ...
Setting up linux-libc-dev:amd64 (4.15.0-58.64) ...
Setting up libdpkg-perl (1.19.0.5ubuntu2.2) ...
Setting up libprocps6:amd64 (2:3.3.12-3ubuntu1.2) ...
Setting up procps (2:3.3.12-3ubuntu1.2) ...
update-alternatives: warning: forcing reinstallation of alternative /usr/bin/w.procps because link group w is broken
Setting up dpkg-dev (1.19.0.5ubuntu2.2) ...
Setting up libldap-2.4-2:amd64 (2.4.45+dfsg-1ubuntu1.3) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
Processing triggers for systemd (237-3ubuntu10.25) ...

In [0]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
#@title Most of the analysis is done through tableau

In [0]:
Dataset=pd.read_csv('rounds2.csv',encoding='ISO-8859-1')

In [0]:
Dataset.head()

                     company_permalink  ... raised_amount_usd
0                  /organization/-fame  ...        10000000.0
1               /ORGANIZATION/-QOUNTER  ...               NaN
2               /organization/-qounter  ...          700000.0
3  /ORGANIZATION/-THE-ONE-OF-THEM-INC-  ...         3406878.0
4                /organization/0-6-com  ...         2000000.0

[5 rows x 6 columns]

In [0]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [0]:
Dataset.shape

(114949, 6)

In [0]:
Com=pd.read_csv('companies.txt',sep="\t",encoding='ISO-8859-1')

In [0]:
Com.head()

                             permalink  ...  founded_at
0                  /Organization/-Fame  ...         NaN
1               /Organization/-Qounter  ...  04-09-2014
2  /Organization/-The-One-Of-Them-Inc-  ...         NaN
3                /Organization/0-6-Com  ...  01-01-2007
4       /Organization/004-Technologies  ...  01-01-2010

[5 rows x 10 columns]

In [0]:
Com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [0]:
Com.shape

(66368, 10)

In [0]:
len(Dataset.company_permalink.unique())

90247

In [0]:
Com['permalink']=Com['permalink'].str.lower()

In [0]:
Com.shape

(66368, 10)

In [0]:
len(Com.permalink.unique())

66368

In [0]:
Dataset['company_permalink']=Dataset['company_permalink'].str.lower()

In [0]:
len(Dataset.company_permalink.unique())

66370

Look like panda cannot encode some different lang company names

In [0]:
Dataset.loc[~Dataset['company_permalink'].isin(Com['permalink'])]

                                        company_permalink  ... raised_amount_usd
29597                             /organization/e-cãbica  ...               NaN
31863        /organization/energystone-games-çµç³æ¸¸æ  ...               NaN
45176                /organization/huizuche-com-æ ç§ÿè½¦  ...               NaN
58473              /organization/magnet-tech-ç£ç³ç§æ  ...         1625585.0
101036  /organization/tipcat-interactive-æ²èÿä¿¡æ¯ç...  ...               NaN
109969             /organization/weiche-tech-åè½¦ç§æ  ...               NaN
113839                 /organization/zengame-ç¦
æ¸¸ç§æ  ...               NaN

[7 rows x 6 columns]

U might not find this problem in excel or tableau

In [0]:
import chardet

In [0]:
raw=open('rounds2.csv','rb').read()

In [0]:
result=chardet.detect(raw)
chardet=result['encoding']
print(chardet)

Windows-1254

This encoding might solve problem

In [0]:
dataset_encode=pd.read_csv('rounds2.csv',encoding="Windows-1254")

Not going to work directly

In [0]:
Dataset['company_permalink']=Dataset.company_permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [0]:
Dataset.loc[~Dataset['company_permalink'].isin(Com['permalink']),:]

                                        company_permalink  ... raised_amount_usd
77                                  /organization/10north  ...               NaN
729                               /organization/51wofang-  ...         5000000.0
2670                              /organization/adslinked  ...          100000.0
3166    /organization/aesthetic-everything-social-network  ...               NaN
3291                 /organization/affluent-attach-club-2  ...          100000.0
4568                           /organization/allgu-outlet  ...         1400000.0
8097                             /organization/asiansbook  ...          100000.0
8652                              /organization/atlye-gri  ...           13940.0
9784                                  /organization/axgaz  ...         4094392.0
14311              /organization/boral-bikes-incorporated  ...               NaN
14798                          /organization/brasil-oznio  ...          799686.0
14951                         /organization/bricopriv-com  ...         2809272.0
15384                                   /organization/brv  ...            1500.0
16018                         /organization/bhner-eh-gmbh  ...               NaN
16624                          /organization/canal-da-pea  ...               NaN
16839                                 /organization/cappt  ...           20228.0
23210                        /organization/contrato-rpido  ...               NaN
23518                        /organization/cop-active-ltd  ...          154028.0
24932                          /organization/crme-ciseaux  ...          276163.0
24933                          /organization/crme-ciseaux  ...          276163.0
27110                         /organization/desafo-tctico  ...               NaN
29597                               /organization/e-cbica  ...               NaN
31863                    /organization/energystone-games-  ...               NaN
33069                              /organization/etool-io  ...           26000.0
37562                                 /organization/freem  ...           60000.0
37876                            /organization/frquentiel  ...               NaN
39460             /organization/gesto-sade-e-tecnologia-3  ...               NaN
42221                        /organization/grfica-en-lnea  ...          150000.0
45176                         /organization/huizuche-com-  ...               NaN
46281                    /organization/ignia-bienes-races  ...               NaN
...                                                   ...  ...               ...
58474                          /organization/magnet-tech-  ...               NaN
60960                    /organization/mercado-electrnico  ...         9707638.0
62172                            /organization/ming-yazlm  ...           52583.0
63761                         /organization/monnier-frres  ...         4616139.0
65471                  /organization/mdica-santa-carmen-2  ...               NaN
73633                               /organization/patrofn  ...           42607.0
78497                             /organization/prodti-cz  ...               NaN
79281                          /organization/przewietl-pl  ...               NaN
85619                              /organization/salo-vip  ...           81462.0
85996      /organization/satlite-distribuidora-de-petrleo  ...               NaN
90328                               /organization/skar-is  ...          392492.0
91932   /organization/socit-internationale-de-plantati...  ...        14300000.0
97158                         /organization/slfar-studios  ...         2100000.0
97571                          /organization/talentsigned  ...          100000.0
99945                       /organization/the-vision-lab-  ...          100000.0
100588                         /organization/th-gii-di-ng  ...         3500000.0
101036                  /organization/tipcat-interactive-  ...               NaN
104092                                /organization/tximo  ...         4600000.0
104093                            /organization/to-conejo  ...           22930.0
105508                         /organization/vacation-bnb  ...          100000.0
108953                             /organization/v-de-txi  ...          517241.0
108954                 /organization/vnder-sports-network  ...               NaN
109968                         /organization/weiche-tech-  ...               NaN
109969                         /organization/weiche-tech-  ...               NaN
110516                      /organization/whites-holdings  ...               NaN
110545                       /organization/whodats-spaces  ...           30000.0
113839                             /organization/zengame-  ...               NaN
114946                                 /organization/eron  ...               NaN
114947                               /organization/asys-2  ...           18192.0
114948  /organization/novatiff-reklam-ve-tantm-hizmetl...  ...           14851.0

[74 rows x 6 columns]

In [9]:
len(Dataset.company_permalink.unique())

66368

it worked!!!!!!!!!!!!

In [0]:
Com['permalink']=Com.permalink.str.encode('utf-8').str.decode('ascii','ignore')

In [10]:
len(Com.permalink.unique())

66368

Both permalink same >>>>>>>GREAT

In [11]:
len(Dataset.loc[~Dataset['company_permalink'].isin(Com['permalink']),:])

0

Valdating

In [12]:
Com.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [0]:
Dataset.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [0]:
Full=pd.merge(Com,Dataset,left_on='permalink',right_on='company_permalink')

In [0]:
Full.head()

                             permalink  ... raised_amount_usd
0                  /organization/-fame  ...        10000000.0
1               /organization/-qounter  ...               NaN
2               /organization/-qounter  ...          700000.0
3  /organization/-the-one-of-them-inc-  ...         3406878.0
4                /organization/0-6-com  ...         2000000.0

[5 rows x 16 columns]

In [0]:
Full=Full.drop(columns=["company_permalink"])

In [0]:
Full.isna().sum()

permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [0]:
100*(Full.isna().sum()/len(Full.index))

permalink                   0.000000
name                        0.000870
homepage_url                5.336280
category_list               2.966533
status                      0.000000
country_code                7.549435
state_code                  9.522484
region                      8.844792
city                        8.842182
founded_at                 17.852265
funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
dtype: float64

In [0]:
Full=Full.drop(columns=["homepage_url","founded_at","funding_round_code","funding_round_permalink"])

In [0]:
100*(Full.isna().sum()/len(Full.index))

permalink              0.000000
name                   0.000870
category_list          2.966533
status                 0.000000
country_code           7.549435
state_code             9.522484
region                 8.844792
city                   8.842182
funding_round_type     0.000000
funded_at              0.000000
raised_amount_usd     17.390321
dtype: float64

In [0]:
Full=Full.drop(columns=["region","state_code","city"])

In [0]:
100*(Full.isna().sum()/len(Full.index))

permalink              0.000000
name                   0.000870
category_list          2.966533
status                 0.000000
country_code           7.549435
funding_round_type     0.000000
funded_at              0.000000
raised_amount_usd     17.390321
dtype: float64

In [0]:
Full['raised_amount_usd'].describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

Its is messed up

In [0]:
Full=Full[~np.isnan(Full['raised_amount_usd'])]

In [0]:
Full=Full[~pd.isnull(Full['country_code'])]

In [0]:
Full=Full[~pd.isnull(Full['category_list'])]

In [0]:
Full=Full[~pd.isnull(Full['name'])]

In [21]:
100*(Full.isna().sum()/len(Full.index))

permalink             0.0
name                  0.0
category_list         0.0
status                0.0
country_code          0.0
funding_round_type    0.0
funded_at             0.0
raised_amount_usd     0.0
dtype: float64

In [0]:
Full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88528 entries, 0 to 114947
Data columns (total 8 columns):
permalink             88528 non-null object
name                  88528 non-null object
category_list         88528 non-null object
status                88528 non-null object
country_code          88528 non-null object
funding_round_type    88528 non-null object
funded_at             88528 non-null object
raised_amount_usd     88528 non-null float64
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

In [0]:
Full.head()

                             permalink  ... raised_amount_usd
0                  /organization/-fame  ...        10000000.0
2               /organization/-qounter  ...          700000.0
4                /organization/0-6-com  ...         2000000.0
6     /organization/01games-technology  ...           41250.0
7  /organization/0ndine-biomedical-inc  ...           43360.0

[5 rows x 8 columns]

In [0]:
df=Full

In [0]:
df.head()

                             permalink  ... raised_amount_usd
0                  /organization/-fame  ...        10000000.0
2               /organization/-qounter  ...          700000.0
4                /organization/0-6-com  ...         2000000.0
6     /organization/01games-technology  ...           41250.0
7  /organization/0ndine-biomedical-inc  ...           43360.0

[5 rows x 8 columns]

In [0]:
df=df[(df.funding_round_type=="venture")|(df.funding_round_type=="seed")|(df.funding_round_type=="angel")|(df.funding_round_type=="private_equity")]

In [35]:
df.pivot_table(values='raised_amount_usd',columns='funding_round_type',aggfunc=[np.median,np.mean])

                      median                 ...           mean
funding_round_type     angel private_equity  ...           seed       venture
raised_amount_usd   414906.0     20000000.0  ...  747827.947852  1.172422e+07

[1 rows x 8 columns]

In [36]:
df.groupby('funding_round_type')['raised_amount_usd'].median().sort_values(ascending=False)

funding_round_type
private_equity    20000000.0
venture            5000000.0
angel               414906.0
seed                300000.0
Name: raised_amount_usd, dtype: float64

If our funding is around 15m(assuming) we cannot go for private equity

going for venture in that case

In [0]:
#@title COUNTRY ANALYSIS(Taking only english speaking country)

In [0]:
df=df[df.funding_round_type=='venture']

In [0]:
country=df.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False)

In [39]:
df.head()

                              permalink  ... raised_amount_usd
0                   /organization/-fame  ...        10000000.0
4                 /organization/0-6-com  ...         2000000.0
8   /organization/0ndine-biomedical-inc  ...          719491.0
10                 /organization/0xdata  ...        20000000.0
11                 /organization/0xdata  ...         1700000.0

[5 rows x 8 columns]

In [40]:
country

country_code
USA    4.200680e+11
CHN    3.933892e+10
GBR    2.007281e+10
IND    1.426151e+10
CAN    9.482218e+09
FRA    7.226851e+09
ISR    6.854350e+09
DEU    6.306922e+09
JPN    3.167647e+09
SWE    3.145857e+09
NLD    2.903876e+09
CHE    2.801560e+09
SGP    2.793918e+09
ESP    1.827622e+09
BRA    1.785818e+09
IRL    1.669286e+09
RUS    1.570426e+09
AUS    1.319029e+09
DNK    1.228311e+09
FIN    1.043200e+09
BEL    1.030840e+09
NOR    9.536361e+08
KOR    8.919883e+08
MYS    8.830588e+08
HKG    7.812670e+08
TWN    6.239795e+08
AUT    5.833607e+08
TUR    5.590975e+08
ITA    4.882894e+08
NZL    4.483164e+08
           ...
KWT    1.400000e+07
LIE    1.309172e+07
MNE    1.220000e+07
SVN    1.201751e+07
BGR    1.130000e+07
KAZ    1.100000e+07
GRC    1.074378e+07
BAH    8.900000e+06
TTO    8.500000e+06
SVK    8.241062e+06
BGD    7.002000e+06
LBN    6.455000e+06
GGY    3.960000e+06
TUN    3.920000e+06
SEN    2.860000e+06
HRV    2.633669e+06
UGA    2.500000e+06
PER    2.469270e+06
BWA    2.250000e+06
LAO    2.100000e+06
PAN    2.100000e+06
MAR    1.600000e+06
MUS    1.500000e+06
PRI    1.441901e+06
ECU    9.658500e+05
MCO    6.570000e+05
SAU    5.000000e+05
CMR    3.595610e+05
GTM    3.000000e+05
MMR    2.000000e+05
Name: raised_amount_usd, Length: 97, dtype: float64

Taking top 9 only

In [0]:
top_9=country[:9]

In [42]:
top_9

country_code
USA    4.200680e+11
CHN    3.933892e+10
GBR    2.007281e+10
IND    1.426151e+10
CAN    9.482218e+09
FRA    7.226851e+09
ISR    6.854350e+09
DEU    6.306922e+09
JPN    3.167647e+09
Name: raised_amount_usd, dtype: float64

only english speaking country we want

In [0]:
df=df[(df.country_code=='USA') | (df.country_code=='IND') | (df.country_code=='GBR')]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38803 entries, 0 to 114936
Data columns (total 8 columns):
permalink             38803 non-null object
name                  38803 non-null object
category_list         38803 non-null object
status                38803 non-null object
country_code          38803 non-null object
funding_round_type    38803 non-null object
funded_at             38803 non-null object
raised_amount_usd     38803 non-null float64
dtypes: float64(1), object(7)
memory usage: 2.7+ MB

In [0]:
#@title Its time for sector analysis

In [0]:
df.loc[:,'main_category']=df['category_list'].apply(lambda x: x.split("|")[0])

In [54]:
df.head()

                     permalink          name  ... raised_amount_usd main_category
0          /organization/-fame         #fame  ...        10000000.0         Media
10        /organization/0xdata        H2O.ai  ...        20000000.0     Analytics
11        /organization/0xdata        H2O.ai  ...         1700000.0     Analytics
12        /organization/0xdata        H2O.ai  ...         8900000.0     Analytics
22  /organization/1-mainstream  1 Mainstream  ...         5000000.0          Apps

[5 rows x 9 columns]

In [0]:
map=pd.read_csv('mapping.csv',sep=",")

In [59]:
map.head()

   category_list  ...  Social, Finance, Analytics, Advertising
0            NaN  ...                                        0
1             3D  ...                                        0
2    3D Printing  ...                                        0
3  3D Technology  ...                                        0
4     Accounting  ...                                        1

[5 rows x 10 columns]

In [61]:
map.isnull().sum()

category_list                              1
Automotive & Sports                        0
Blanks                                     0
Cleantech / Semiconductors                 0
Entertainment                              0
Health                                     0
Manufacturing                              0
News, Search and Messaging                 0
Others                                     0
Social, Finance, Analytics, Advertising    0
dtype: int64

In [62]:
map=map[~pd.isnull(map["category_list"])]
map.isnull().sum()

category_list                              0
Automotive & Sports                        0
Blanks                                     0
Cleantech / Semiconductors                 0
Entertainment                              0
Health                                     0
Manufacturing                              0
News, Search and Messaging                 0
Others                                     0
Social, Finance, Analytics, Advertising    0
dtype: int64

In [0]:
map['category_list']=map['category_list'].str.lower()

In [0]:
df['main_category']=df['main_category'].str.lower()

In [65]:
df[~df['main_category'].isin(map['category_list'])]

                                             permalink  ...        main_category
10                                /organization/0xdata  ...            analytics
11                                /organization/0xdata  ...            analytics
12                                /organization/0xdata  ...            analytics
61                               /organization/100plus  ...            analytics
198                        /organization/1world-online  ...            analytics
199                        /organization/1world-online  ...            analytics
200                        /organization/1world-online  ...            analytics
256                            /organization/24-7-card  ...              finance
822     /organization/6th-wave-innovations-corporation  ...       nanotechnology
832                     /organization/7-billion-people  ...            analytics
873                           /organization/7park-data  ...            analytics
1006                             /organization/9lenses  ...   business analytics
1007                             /organization/9lenses  ...   business analytics
1008                             /organization/9lenses  ...   business analytics
1049                      /organization/a-little-world  ...              finance
1126                         /organization/abacast-inc  ...            analytics
1281                            /organization/aboutone  ...   contact management
1285                            /organization/aboutone  ...   contact management
1299                                /organization/abra  ...   financial services
1312                         /organization/absolutdata  ...            analytics
1378                          /organization/acadiasoft  ...              finance
1379                          /organization/acadiasoft  ...              finance
1427            /organization/accelerated-vision-group  ...            analytics
1428            /organization/accelerated-vision-group  ...            analytics
1461                            /organization/accelops  ...            analytics
1462                            /organization/accelops  ...            analytics
1480                     /organization/accept-software  ...    career management
1481                     /organization/accept-software  ...    career management
1482                     /organization/accept-software  ...    career management
1483                     /organization/accept-software  ...    career management
...                                                ...  ...                  ...
113697                             /organization/zebit  ...              finance
113717                            /organization/zecter  ...  document management
113719                            /organization/zecter  ...  document management
113880                        /organization/zenpayroll  ...   financial services
113881                        /organization/zenpayroll  ...   financial services
113922                          /organization/zentrick  ...            analytics
113939                               /organization/zeo  ...            analytics
113940                               /organization/zeo  ...            analytics
113952                     /organization/zephyr-health  ...   big data analytics
113953                     /organization/zephyr-health  ...   big data analytics
113954                     /organization/zephyr-health  ...   big data analytics
113975                            /organization/zeptor  ...       nanotechnology
114058                       /organization/zestfinance  ...            analytics
114059                       /organization/zestfinance  ...            analytics
114061                       /organization/zestfinance  ...            analytics
114062                       /organization/zestfinance  ...            analytics
114185                           /organization/ziegler  ...   financial services
114397                         /organization/ziprealty  ...              finance
114536                      /organization/zonarsystems  ...      task management
114589                          /organization/zoomdata  ...            analytics
114590                          /organization/zoomdata  ...            analytics
114601                          /organization/zoominfo  ...   big data analytics
114613                         /organization/zoomsafer  ...     fleet management
114614                         /organization/zoomsafer  ...     fleet management
114631                            /organization/zoopla  ...  property management
114632                            /organization/zoopla  ...  property management
114660                              /organization/zopa  ...              finance
114661                              /organization/zopa  ...              finance
114663                              /organization/zopa  ...              finance
114664                              /organization/zopa  ...              finance

[2616 rows x 9 columns]

In [67]:
map[~map['category_list'].isin(df['main_category'])]

                category_list  ...  Social, Finance, Analytics, Advertising
16      air pollution control  ...                                        0
20        alter0tive medicine  ...                                        0
22                   a0lytics  ...                                        1
33                aquaculture  ...                                        0
49       b2b express delivery  ...                                        1
59          big data a0lytics  ...                                        1
64   biomass power generation  ...                                        0
69           boating industry  ...                                        0
77            building owners  ...                                        0
79          business a0lytics  ...                                        1
85         business travelers  ...                                        0
89                    can0bis  ...                                        0
91           career ma0gement  ...                                        1
94               casual games  ...                                        0
97                  charities  ...                                        1
103             chi0 internet  ...                                        0
104           civil engineers  ...                                        0
110         cloud-based music  ...                                        0
114           cloud ma0gement  ...                                        0
119              collectibles  ...                                        0
145         contact ma0gement  ...                                        1
198  digital rights ma0gement  ...                                        0
199            digital sig0ge  ...                                        0
200        direct advertising  ...                                        1
210        document ma0gement  ...                                        0
223          educatio0l games  ...                                        0
224               edutainment  ...                                        0
232         email newsletters  ...                                        1
240          energy ma0gement  ...                                        0
241            energy storage  ...                                        0
..                        ...  ...                                      ...
605           social business  ...                                        1
610              social games  ...                                        1
612    social media ma0gement  ...                                        1
614    social media platforms  ...                                        1
616               social news  ...                                        1
617         social recruiting  ...                                        1
618         social television  ...                                        1
619             social travel  ...                                        1
625        speech recognition  ...                                        0
630           stock exchanges  ...                                        1
632      subscription service  ...                                        0
633    supply chain ma0gement  ...                                        0
634                   surveys  ...                                        0
637            task ma0gement  ...                                        0
638                     taxis  ...                                        0
639                       tea  ...                                        0
647                   tourism  ...                                        0
655              universities  ...                                        0
656       university students  ...                                        0
657      unmanned air systems  ...                                        0
658                 usability  ...                                        0
659    user experience design  ...                                        0
662   vending and concessions  ...                                        0
664                 veteri0ry  ...                                        0
669           video streaming  ...                                        0
670        virtual workforces  ...                                        0
672           waste ma0gement  ...                                        0
682                  weddings  ...                                        0
683                 wholesale  ...                                        0
686                     women  ...                                        0

[175 rows x 10 columns]

Some mis typing again in database

In [0]:
map['category_list']=map['category_list'].apply(lambda x:x.replace('0','na'))

In [69]:
map[~map['category_list'].isin(df['main_category'])]

                category_list  ...  Social, Finance, Analytics, Advertising
16      air pollution control  ...                                        0
33                aquaculture  ...                                        0
49       b2b express delivery  ...                                        1
64   biomass power generation  ...                                        0
69           boating industry  ...                                        0
77            building owners  ...                                        0
85         business travelers  ...                                        0
94               casual games  ...                                        0
97                  charities  ...                                        1
103            china internet  ...                                        0
104           civil engineers  ...                                        0
110         cloud-based music  ...                                        0
119              collectibles  ...                                        0
200        direct advertising  ...                                        1
224               edutainment  ...                                        0
232         email newsletters  ...                                        1
241            energy storage  ...                                        0
243           enterprise 2.na  ...                                        0
260          face recognition  ...                                        1
264            farmers market  ...                                        0
268    field support services  ...                                        0
271         film distribution  ...                                        0
272           film production  ...                                        0
279               flash sales  ...                                        0
282                   flowers  ...                                        0
283                      fmcg  ...                                        0
285                    forums  ...                                        0
290                     fruit  ...                                        0
291                fuel cells  ...                                        0
293          funeral industry  ...                                        0
..                        ...  ...                                      ...
600                smart grid  ...                                        0
601                       sns  ...                                        0
604        social bookmarking  ...                                        1
605           social business  ...                                        1
610              social games  ...                                        1
612   social media management  ...                                        1
614    social media platforms  ...                                        1
616               social news  ...                                        1
617         social recruiting  ...                                        1
618         social television  ...                                        1
619             social travel  ...                                        1
625        speech recognition  ...                                        0
630           stock exchanges  ...                                        1
632      subscription service  ...                                        0
634                   surveys  ...                                        0
638                     taxis  ...                                        0
639                       tea  ...                                        0
647                   tourism  ...                                        0
655              universities  ...                                        0
656       university students  ...                                        0
657      unmanned air systems  ...                                        0
658                 usability  ...                                        0
659    user experience design  ...                                        0
662   vending and concessions  ...                                        0
664                veterinary  ...                                        0
669           video streaming  ...                                        0
670        virtual workforces  ...                                        0
682                  weddings  ...                                        0
683                 wholesale  ...                                        0
686                     women  ...                                        0

[134 rows x 10 columns]

In [0]:
join = pd.merge(df,map,how='inner',left_on='main_category',right_on='category_list')

In [71]:
join.head()

                       permalink  ... Social, Finance, Analytics, Advertising
0            /organization/-fame  ...                                       0
1            /organization/90min  ...                                       0
2            /organization/90min  ...                                       0
3            /organization/90min  ...                                       0
4  /organization/all-def-digital  ...                                       0

[5 rows x 19 columns]

In [0]:
join=join.drop(columns=['category_list_x'])
join=join.drop(columns=['category_list_y'])

In [73]:
join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38788 entries, 0 to 38787
Data columns (total 17 columns):
permalink                                  38788 non-null object
name                                       38788 non-null object
status                                     38788 non-null object
country_code                               38788 non-null object
funding_round_type                         38788 non-null object
funded_at                                  38788 non-null object
raised_amount_usd                          38788 non-null float64
main_category                              38788 non-null object
Automotive & Sports                        38788 non-null int64
Blanks                                     38788 non-null int64
Cleantech / Semiconductors                 38788 non-null int64
Entertainment                              38788 non-null int64
Health                                     38788 non-null int64
Manufacturing                              38788 non-null int64
News, Search and Messaging                 38788 non-null int64
Others                                     38788 non-null int64
Social, Finance, Analytics, Advertising    38788 non-null int64
dtypes: float64(1), int64(9), object(7)
memory usage: 5.3+ MB

In [0]:
join.to_csv('for_tableau.csv',index=False)

In [0]:
#@title Analysis graph on tableau for better visualzation Ty for checking out this project